<div *ngIf="formGroup" [formGroup]="formGroup"
  class="flex w-ful border-slate-300 border rounded-md p-2 bg-slate-100 shadow-md align-middle justify-between"
>
  <div class="mt-1">{{ item.text }}</div>
  <mat-form-field>
    <input
      class="w-28"
      matInput
      [matDatepicker]="picker"
      placeholder="MM/DD/YYYY"
      [formControlName]="formControlName"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
