<div *ngIf="!isValid" class="text-red-500 font-medium text-lg">Please input your asnwers!</div>
<form *ngIf="form && !answers" [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-question-wrapper
    *ngFor="let question of questionaireUiList"
    [question]="question"
    [formGroup]="form"
  />
  <div class="text-right mt-10">
    <button class="mr-5" mat-raised-button color="primary" type="submit">Submit</button>
    <button mat-raised-button color="warn" type="button" (click)="resetForm()">
      Reset
    </button>
  </div>
</form>
<app-answer-wrapper
  *ngIf="answers"
  [answers]="answers"
  (restForm)="resetForm()"
/>
